
params {
    
    cpu = 8
    readlength = '100'
    
    fastq = ''
    fastq2 = false
    prefix = 'Sample'
    keepInter = true
    filterMouse = true
}


profiles {

    standard {
    
        process {
        
            executor = 'local'
            container = 'elyadl/rna2cm'
            memory = '4GB'
            errorStrategy = 'retry'
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        
        docker.enabled = true 
    }

    cluster {
    
        process {
        
            executor = 'slurm'
            beforeScript = "module load singularity"
            container = 'docker://elyadl/rna2cm'
            memory = '4GB'
            time = '12h'
            errorStrategy = 'retry'
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        
        singularity {
        
            enabled = true
            runOptions = "-B $launchDir -B $projectDir/data"
            cacheDir = "$launchDir" 
        }
    }
}

cleanup = true
