
process {

   container = 'docker://elyadl/rna2cm'
   memory = '4GB'
   time = '12h'
   errorStrategy = 'retry'
}


profiles {

    standard {
        process.executor = 'local'
        docker.enabled = true
    }

    cluster {
        process.executor = 'slurm'
        process.beforeScript = "module load singularity"
        singularity.enabled = true
        singularity.runOptions = "-B $launchDir -B $projectDir/data"
        singularity.cacheDir = "$launchDir/work"      
    }
}

cleanup = true
