   
cleanup = true

profiles {

    standard {
        process.executor = 'local'
        process.container = 'elyadl/rna2cm'
        docker.enabled = true
    }

    cluster {
    	  process.module='singularity/3.5.3'
        process.executor = 'slurm'
        process.memory = '8GB'
        process.container = 'docker://elyadl/rna2cm'
        singularity.enabled = true
        singularity.autoMounts = true 
    }
    
    local { 
    	process.executor = 'local'
    }

}
